[Desktop Entry]
Encoding=UTF-8
Name=Link to Image result for background images
Type=Link
URL=https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=0ahUKEwio95_uvZbZAhVGvBQKHWsjD64QjRwIBw&url=https%3A%2F%2Fpixabay.com%2Fen%2Fphotos%2Fbackground%2F&psig=AOvVaw3mKG2vDjIJuMMdla09xbGL&ust=1518183837783026
Icon=text-html
