html {
     font-family: 'Nanum Pen Script', cursive;
     background-color:#f08080;
     border-color: #808080;
}

h1 {
    font-size: 60px;
    color: dark purple ;
    text-align: center;
}


p, li {
  font-size: 140%;
  color: purple;
  width: 600px;
}


img{
    display: block;
    margin: 0 auto;
    border-radius: 10%;
}

body{
  width: 600px;
  margin: 20px auto;
  background-color:#fa8072
  ;
  padding: 0 20px 20px 20px;
  border : 5px solid black;
  border-radius: 13%;

}

button {
  margin-bottom: 30px;
}
