html{
     font-family: 'Courgette', cursive;
     background-color: goldenRod;
     /* border-color: #808080; */
  background: url("../images/rainy-background-images.jpg");
  background-size: cover;
}

h1 {
    font-size: 35px;
    color: black;
    text-align: center;
    text-color: black;
}

p, li {
  font: Courgette;
  font-size: 140%;
  color: black;
  width: 600px;
}


img{
    display: block;
    margin: 0 auto;
    border-radius: 10%;
}

body{
  width: 600px;
  margin: 0 auto;
  background-color: rgba(255, 160, 122, 0.5 );
  /* opacity: 0.5; */
  padding: 0 20px 20px 20px;
  border-radius: 13%;

}

#button {
     margin-bottom: 60px;
     background-color: rgba(255, 255, 255, 0.5);
     width: 80px;
     padding: 10px;
     border-radius: 0.5%;
}

#button:hover{
  background-color: rgba(220, 20, 60, 0.5);
  cursor: pointer;
}
